/*覆盖样式*/
@media (width: 768px){
#navbar-collapse-1{display:none!important;}
 #comments p{margin-left: 0px!important;margin-top: -20px!important;}
}

@media (min-width:1200px){
    #pjax-container{width:680px!important;padding-left:8px!important;padding-right:8px!important;}
    #sidebar-l{width:240px!important;}
    #sidebar-r{width:240px!important;}
    
}
@media (min-width:1000px) and (max-width:1200px){
    .comment-meta{padding-left: 0px!important;}
}

@media (max-width: 768px){
    .comment-meta{padding-left:70px!important;}
    #chead {display:none!important;}
    #comments p{margin-left: 0px!important;    margin-top: -20px!important;}
    .avatar {float: left!important;width: auto!important;margin-left: 12px!important;margin-top: 10px!important;}
}
@media (min-width:768px) and (max-width: 992px){
    #chead {display:none!important;}
    .avatar {float: left!important;width: auto!important;margin-left: 12px!important;margin-left: 10px!important;}
    .fn{width: 80%!important;margin-left: 70px!important;position: absolute!important;}
    .comment-children .avatar{margin-left: 30px!important;}
    #comments p{margin-left: 80px!important;}
}
.icon-bar{
        border: solid 1px #00a1d6!important;
}
.fancybox-content{
    border-radius: 8px;
}
*{
    transition: color .3s ease 0s,background-color .2s ease 0s;
}
.modal-backdrop{
    z-index: 2!important;
}
/*页面样式*/
#body{
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: black;
    font-size: 14px;
    background-color: #d2e9fb;
    cursor: default;
    overflow-x: hidden;
    cursor: url('OW-Arrow.cur'),auto;
}
#body::-webkit-scrollbar {
    display: none;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
width: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
/*border-radius: 10px;*/
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
/*border-radius: 10px;*/
background: #00a1d6;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
background: #00a1d6;
}
/*动画*/
@-webkit-keyframes fadeIn {
0% {
opacity: 0; /*初始状态 透明度为0*/
}
50% {
opacity: 0; /*中间状态 透明度为0*/
}
100% {
opacity: 1; /*结尾状态 透明度为1*/
}
}
@-webkit-keyframes fadeOut {
0% {
opacity: 1; /*初始状态 透明度为0*/
}
50% {
opacity: 0.5; /*中间状态 透明度为0*/
}
100% {
opacity: 0; /*结尾状态 透明度为1*/
}
}
.fadeIn{-webkit-animation: fadeIn .8s ease;-moz-animation: fadeIn .8s ease;-o-animation: fadeIn .8s ease;animation:fadeIn .8s ease;}
.fadeOut{-webkit-animation: fadeOut 2s ease;-moz-animation: fadeOut 2s ease;-o-animation: fadeOut 2s ease;animation:fadeOut 2s ease;}
.xuanzhuan{
 -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
    -o-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
    to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}

/*pjax 动画*/
/*.loading{display:none}*/
.loading{height:100%;width:100%;z-index:999999;}
.loading img{width: 94px;height:82px;position: relative;margin-top: 20%;left: 40%;}
#loader{display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #ff5a5a; -webkit-animation: spin 1s linear infinite; animation: spin 1s linear infinite;}
#loader:before{content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent; border-top-color: #5af33f; -webkit-animation: spin 3s linear infinite; animation: spin 3s linear infinite;}
#loader:after{content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent; border-top-color: #6dc9ff; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}
@-webkit-keyframes spin{0%{-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100%{-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}}
@keyframes spin{0%{-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100%{-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}}
.a{
    color: #99a2aa;
    cursor: pointer;
    text-decoration: none;
}
a:-webkit-any-link{cursor:url('OW-Hand.cur'),auto!important;}
.a:hover{
    color: #00a1d6;
    text-decoration: none;
}
.a:focus{text-decoration: none}
.nav{
    font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    position: relative;
    z-index: 10000;
    height: 42px;
    color: #222;
}
.logo{
    float: left;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
}
.logo a{ 
    color: #00a1d6;
}
.logo a:focus{
    text-decoration: none;
    color: pink;
}
.logo a:hover{
    color: pink;
    text-decoration: none;
}
.logo img{
    max-width: 32px;
    max-height: 32px;
    padding: 8px;
    margin-top:-5px;
}

.nav-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: hsla(0,0%,100%,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background: #fff;
    z-index: 2;
}
.fixednav{position:fixed;top:0px;left:0;width:100%;}
.navTmp{display:none;height:50px;left:16%;position:fixed;}
.nav-li{
    list-style: none;
    float: left;
    text-align: center;
    line-height: 42px;
    height: 42px;
    position: relative;
}
@media screen and (max-width:768px){
    #smartFloat{display:none;}
    .nav-mask{display:none;}
    .fixednav{display:none;}
    .navTmp{display:none;}
    .nav-li{
        width: 100%;
        background-color: hsla(0, 0%, 100%, 0.85);
    }
    .nav-li:hover{
        background-color: hsla(0, 0%, 50%, 0.80);
    }
    .navbar-toggle{
        border: 1px solid #0000000b!important;
    }
    .navbar-toggle:active{
        background-color: #0000001b!important;
    }
    #navbar-collapse-1{
    z-index: 999;
    position: absolute;
    top: 48px;
    width: 100%;
    }
}
.nav-li a{
    color: #222;
    text-decoration: none;
    padding: 0 8px;
}
.nav-li a:hover{
    color: #00a1d6;
    text-decoration: none;
}

.search{
    position: relative;
    width: 58px;
    height: 42px;
    margin-left: 8px;
    float: right;
    display: inline;
    top: -40px;
    right: 40px;
}

.search a{
    display: block;
    width: 100%;
    height: 48px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #fb7299;
    border-radius: 0 0 6px 6px;
    text-decoration: none;
}
.search a:focus{color:#00a1d6;}
.search a:hover{background-color:#00a1d6;color:#fff;text-decoration: none;}
#s{
    float: left;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    color: #222;
    min-width: 200px;
    border-radius: 4px 0 0 4px;
}
.search-btn{
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #00a1d6;
    color: #fff;
    border: 1px solid #008cd2;
    width: 120px;
    height: 40px;
    border-radius: 0 4px 4px 0;
}
.search-btn:hover{
    background-color: #ff94b1;
    border: 1px solid #ff94b1;
}
.modal-content{
    z-index: 999;
}
@media screen and (max-width:768px){.search{display:none;}}
.tags-list{
    padding: 0;
}
.tags-list li{
    list-style-type: none;
    float: left;
    margin: 3px;
    display: inline-block;
}
.tags-list li a{
    height: 28px;
    background-color: #fff;
}

.userbox{
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.userbox a{text-decoration: none;}
.userbox-pic{
    height: 64px;
    background: center/cover no-repeat;
}
.userbox-name{
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0;
    margin-left: 80px;
    padding-top: 10px;
    color: #222;
    cursor: pointer;
}

.userbox-bottom{
    width: 184px;
    height: 92px;
    margin: 0 30px;
}

.breadcrumb{
    background-color: #fff!important;
    color: #99a2aa;
}

.postnum-a{
    width: 50%;
    height: 92px;
    text-align: center;
    cursor: pointer;
    float: left;
}
.userbox-bottom p:hover{
    color: #00a1d6;
}
.postnum-p{
    letter-spacing: 0;
    font-weight: bold;
    color: #00a1d6;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.postnum-p-text{
    padding-top: 9px;
    font-weight: bold;
    letter-spacing: 0;
    color: #99a2aa;
    font-size: 12px;
}
.comnum-a{    
    width: 50%;
    height: 92px;
    text-align: center;
    cursor: pointer;
    float: left;
}
.comnum-p{
    letter-spacing: 0;
    font-weight: bold;
    color: #00a1d6;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.comnum-p-text{
    padding-top: 9px;
    font-weight: bold;
    letter-spacing: 0;
    color: #99a2aa;
    font-size: 12px;
    margin: 0;
}
.userbox-head{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 32px;
    top: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.card{
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 8px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.09);
    margin: 8px 0 8px 0;
}
.card-title{
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 2px;
    letter-spacing: 0;
    color: #222;
    font-size: 14px;
}
.card-more{    
    position: absolute;
    width: 30px;
    height: 20px;
    top: 13px;
    right: 16px;
    cursor: pointer;
}
.card-more a{
    font-size: 12px;
    letter-spacing: 0;
    color: #99a2aa;
    text-decoration: none;
}
.card-content{
    padding: 14px 16px 2px;
    
}
.card-content li{
    display: block;
    color: #00a1d6;
    margin-bottom: 14px;
}
.card-content li:hover{
    background-color: #dde2eb;
    border-radius: 4px;
    text-decoration: none;
}
.card-content li a:hover{
    text-decoration: none;
}
.breadcrumb {
    margin-bottom: -12px;
}
.post-card{
    margin-top: 8px;
    border-radius: 4px;
    position: relative;
    min-width: 100%;
    background: #fff;
}
.userpost-head{
    border-radius: 50%;
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 24px;
    left: 24px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.renzheng-a{
    top: 56px;
    left: 54px;
    font-size: 20px;
    -webkit-transform-origin: 50% 40%;
    transform-origin: 50% 40%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: 0em -10.775em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.pc-r{
    padding-top: 27px;
    margin-left: 80px;
}
.authername{
    color: #222;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-size: 16px;
    font-size: 16px;
    display: inline-block;
}
.authername a{color: #222;}
.posttime{
    padding-top: 4px;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    color: #99a2aa;
    font-size: 12px;
}
.tags{    
    max-height: 88px;
    line-height: 22px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    word-break: break-all;
}
.tags a{    
    color: #00a1d6;
    border-radius: 4px;
    text-decoration: none;
    outline: none;
}
.tags a:hover{
    background-color: #dde2eb;
    border-radius: 4px;
    text-decoration: none;
}
.abstract{
    width: 95%;
    height: 128px;
    background: #fff;
    border-radius: 4px;
    text-align: left;
    position: relative;
    border: 1px solid #e5e9ef;
    overflow: hidden;
    z-index: 1;
}
.types{
    padding: 1px;
    width: auto;
    height: 18px;
    border-radius: 2px;
    background: #fb7299;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 3;
    -webkit-transition: opacity 0.2s cubic-bezier(0.22, 0.58, 0.12, 0.98);
    transition: opacity 0.2s cubic-bezier(0.22, 0.58, 0.12, 0.98);
}
.types a{
    text-decoration: none;
    color: #fff;
}
.thumb{
    float: left;
    width: auto;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.thumb img{
    border-radius: 0 4px 4px 0;
    border: 0;
    outline: 0;
    width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.posttitle {
    -webkit-transition: color 0.2s cubic-bezier(0.22, 0.58, 0.12, 0.98);
    transition: color 0.2s cubic-bezier(0.22, 0.58, 0.12, 0.98);
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 19px;
    max-height: 2.714285714285714em;
    margin-top: 9px;
    padding-left: 9px;
}
.posttitle a{
    color: #222;
    text-decoration: none;
}
.posttitle a:hover{
    color: #00a1d6;
}
.abstracttext{
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 19px;
    max-height: 3.166666666666667em;
    margin-top: 2px;
    padding: 8px;
    color: #99a2aa;
    height: 38px;
}
.btnbar{
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #99a2aa;
}
.comnum{
    display: inline-block;
    width: 20%;
    font-size: 12px;
    cursor: pointer;
}
.comnum span:hover{
    color: pink;
}
.comnum-text-bar{
    
}
.comment-ico{
    font-size: 20px;
    padding-right: 4px;
    -webkit-transform-origin: 50% 40%;
    transform-origin: 50% 40%;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    background-position: 0em -2em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.comment-ico:hover{
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-position: 0em -4em;
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.comment-ico:active{
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-position: 0em -3em;
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.text-offset{
    
}

.like{
    display: inline-block;
    width: 20%;
    font-size: 12px;
    cursor: pointer;
}
.like span:hover{
    color: pink;
}
.like-ico:hover{
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-position: 0em -19.8em;
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.like-ico:active{
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-position: 0em -20.8em;
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.like-ico:visted{
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-position: 0em -21.8em;
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.like-ico{
    font-size: 20px;
    padding-right: 4px;
    -webkit-transform-origin: 50% 40%;
    transform-origin: 50% 40%;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    background-position: 0em -18.8em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
    background-image: url(https://cdn.jsdelivr.net/gh/menhood/Typecho-Theme-BiliBlog@latest/bp-svg-icon.svg);
    background-repeat: no-repeat;
    background-size: 1em 22.8em;
}
.post-likes-num{
    text-decoration: none;
    color: #99a2aa;
}
.post-likes-num:hover{
    text-decoration: none;
}
.btn-like:hover{text-decoration:none;}
.page-navigator{
    margin: 20px 0;
}
.page-navigator li a{
    display: block;
}
.page-navigator li a:hover{
    color: #fff;
    text-decoration: none;
}
.page-navigator .current{
    background: #00a1d6;
    color: #fff;
    border: 1px solid #00a1d6;
}
.current a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.current a:hover{
    color: #00a1d6;
}
.page-navigator li{
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    min-width: 15px;
    margin: 0 2px;
    padding: 0 10px;
    list-style-type: none;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}
.page-navigator li:hover{
    text-decoration: none;
    background-color: #00a1d6;
}
.page-navigator li:hover + .page-navigator li>a{
    color: #fff;
    text-decoration: none;
}
.page-navigator .current:hover{
    text-decoration: none;
    background-color: #fff;
}
.page-navigator .current:hover + .page-navigator .current>a{
    color: #00a1d6;
}
.page-navigator .next:hover{
    text-decoration: none;
    background-color: #00a1d6;
}
.page-navigator .next:hover + .page-navigator .next>a{
    text-decoration: none;
    color: #fff;
}
.next a{
    display: block;
}
.next a:hover{
    text-decoration: none;
    color: #fff;
}
.prev a{
    display: block;
}
.prev a:hover{
    text-decoration: none;
    color: #fff;
}

.tocactive{
    color: pink;
}
/*post页面*/

.post{
    padding: 24px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
}

.post-content{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
}
.post-content img:not(.smilies){
    width: 100%;
    cursor: pointer;
}
.post-content-subtitle{
    font-size: 24px;
}

.post-head{
    height:200px;
    width: 100%;
}
.post-title{
    padding-left:10px ;
    font-size: 28px;
    color: #222;
    margin-bottom: 14px;
    font-weight: 700;
    line-height: 1.4;
}
.post-meta{
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    list-style-type: none;
    margin-bottom: 50px;
}
.post-meta li{
    margin-right: 18px;
    color: #9b9b9b;
    transition: .3s;
    -webkit-transition: .3s;
    list-style-type: none;
    display: block;
    float: left;
}
.blur {
    filter: url(blur.svg#blur); /* IE10, IE11 */
    -webkit-filter: blur(1px); /* Chrome, Opera */
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);   
            filter: blur(1px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1, MakeShadow=false); /* IE6~IE9 */
}
.post-tags{
    margin: 5px;
}
.post-tags a{
    font-size: 12px;
    color: #999;
    border: 1px solid #999;
    border-radius: 100px;
    padding: 4px;
    box-sizing: border-box;
    top: 0;
    transition: .5s;
    -webkittransition: .5s;
    display: inline-block;
    height: 100%;
}
.post-tags a:hover{
    text-decoration: none;
    color: #00a1d6;
    border: 1px solid #00a1d6;
}
.post-near{
    padding: 0;
    margin: 8px;
}
.post-near li{
    padding: 0 15px;
    color: #222;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    min-width: 15px;
    margin: 0 2px;
    padding: 0 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    outline: none;
}
.post-near li a{
    text-decoration: none;
}
.post-near li:hover{
    background: #00a1d6;
    color: #fff;
    border: 1px solid #00a1d6;
}
.categorys-item{
    padding: 32px;
}
.categorys-title{
    font-size: 16px;
    font-weight: 700;
}
.post-lists{
    padding: 8px;
}
.item-title a{
    text-decoration: none;
    color: #222;
}
.item-title a:hover{
    text-decoration: none;
    color: #00a1d6;
}
.item-meta-date{color:#9b9b9b;}

/*友情链接*/
.links-list{
    list-style-type: none;
    padding: 50px;
}
.links-item{
    list-style-type: none;
    border-bottom: 1px solid #eee;
}
.links-head{
    border-radius: 60px;
    width: 60px;
    height: 60px; 
}
.links-title{
    font-size: 16px;
    line-height: 1;
    display: block;
    color: #fb7299;
    position: relative;
}
.links-dedsc{
    color: #6d757a;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
    line-height: 20px;
    position: relative;
}
.links-go{
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    width: 74px;
    float: left;
    display: block;
    line-height: 22px;
    margin-left: 15px;
    color: #6d757a;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    vertical-align: baseline;
    word-break: break-word;
    position: relative;
}
.links-go:hover{
    border-color: #00a1d6;
    text-decoration: none;
}
.links-go:hover + .links-go-text{
    color: #00a1d6;
    text-decoration: none;
}
.links-go-text{
    line-height: 16px;
    font-size: 12px;
    vertical-align: middle;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-word;
    color: #6d757a;
    text-align: center;
    text-decoration: none;
}
/*评论部分*/
#comments{
    font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
    zoom: 1;
    min-height: 100px;
    background: #fff;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}
#comments p{
    margin: 0;
}
.comment-parent{
}
.comment-body .comment-parent .comment-odd>.row .clearfix>.col-md-12 .column .comment-item>.comment-children{
    margin-left: 25px;
}
.comment-list{
    width: 100%;
    padding: 0;
}
.comment-list li{
    position: relative;
    margin-left: 5px;
    padding: 5px 0 0;
    /*border-top: 1px dashed #e5e9ef;*/
    list-style-type: none;
    width: 100%;
}
.comment-children{
    margin-left: 0px;
    padding-left: 56px;
}
.comment-children img{
    height: 32px;
    width: auto;
}
.comment-child2{
    margin-left: -36px!important;
}
.comment-author{
    left: -50px;
    position: absolute;
}
.avatar{
    float: right;
    /*margin: 24px -10px 0 5px;*/
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
@media screen and (max-width:768px){
    .avatar{
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.fn{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 4px;
    display: block;
    word-wrap: break-word;
    
}
.fn a{
    vertical-align: middle;
    color: #fb7299!important;
}
.fn a:hover{
    text-decoration: none;
}

.comment-meta {
    padding-left: 0px;
}
.comment-meta *{
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
    text-decoration: none;
}
.comment-meta *:hover{
    text-decoration: none;
}
.comment-fnum{
    
}
.comment-children .comment-fnum{
    color: #fff;
}
.comment-content{}
.comment-content img{
    max-height: 32px;
}
.comment-content p{
    width: 80%;
    word-wrap:break-word;
}
@media screen and (max-width:768px){
    .comment-content{
        margin-left: 70px;
    }
}
.comment-reply{
    z-index: 9999;
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px; 
}
.comment-reply a{
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
}
.comment-reply a:hover{
    text-decoration: none;
    color: #00a1d6;
    background: #e5e9ef;
}
.respond{
   margin: 10px 0;    
}
.cancel-comment-reply{
    z-index: 9999;
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    left: 256px;
    bottom: 15px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
}
.author-after-text{
    border-color: #fb7299;
    border: 1px solid #ff81aa;
    min-width: 30px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #ff81aa;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    font-weight: 400;
}
#response{
    
}
#comment-form{ 
    position: relative;
    margin-right: 80px;
    /*max-width: 400px;*/
    padding: 8px;
}
#comment-form li{
    float: left;
    width: 30%;
    list-style-type: none;
}
.required{
    
}
.input-group-addon{
    padding: 0 2px!important;
}
.text{
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    height: 30px;
    width: 80%;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
    outline: none;
    resize: none;
    
}
.text:focus{
    background-color: #fff;
    border: 1px solid #00a1d6;  
}
.text-url{
    width: 128%;
}
.textarea{
    margin-top: 8px;
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100%!important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
    outline: none;
    resize: none;
}
.textarea:focus{
    background-color: #fff;
    border: 1px solid #00a1d6;    
}
.submit{
    width: 70px;
    height: 64px;
    margin-top: 8px;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    transition: .1s;
    user-select: none;
    outline: none;
}
@media screen and (max-width:768px){
    .submit{
    margin-left: 8px!important;
    width: 98%;
    }
}

.submit:hover{
    background-color: #00b5e5;
    border-color: #00b5e5;
}
/*返顶*/

p#to-top{
    position:fixed;
    display:none;
    bottom:100px;
    right:20px;
}
p#to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:64px;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
p#to-top a:hover{
    color:#979797;
}
p#to-top a span{
    background:url(to-top.svg);
    border-radius:6px;
    display:block;
    height:40px;
    width:40px;
    margin-bottom:5px;
    /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}
#to-top a:hover span{
    background:url(to-top.svg);
}

/*脚部*/
.footer{
    margin-top: 16px;
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding: 10px 0;
    background-color:#fff;
    border-radius: 8px;
}